<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head")%>
<body>
    <%- include("../partial/header")%>

<main class ="product">
    <form action="/deleteProduct/<%=pro.id%>?_method=delete" method="post">
    <section>
        <article>
            <div>
                <h3>Nombre del producto:</h3>
                <h4><%=pro.nombre%></h4>
                
            </div>
            <div>
                <h3>Marca del producto:</h3>
                <h4><%=pro.marca%></h4>
            </div>
            <div>
                <h3>Descripción sobre el producto:</h3>
                <h4><%=pro.descripcion%></h4>
            </div>
        </article>

        <article class="deleteProduct">
            <label for="imagenProducto">imagen del producto:</label>
            <picture><img src=<%= "/img/product/" + pro.img%> alt=""></picture>
        </article>

        <article>
            <div>
                <h3>Precio del producto:</h3>
                <h4><%=pro.precio%></h4>
            </div>
            <div>
                <h3>Descuento: </h3>
                <h4><%=pro.descuento%>%</h4>
            </div>
        </article>
        
        <article class="check">
            <div>
                <h3>Categoria</h3>
                <% category.forEach(cat => {%>
                    <div>
                        <label for="<%- cat.titulo %>"><%= cat.titulo %></label>
                        <input type="checkbox" name="<%= cat.categoria %>" id="<%= cat.titulo %>" value="<%= cat.titulo %>" <% if(pro.categoria.includes(cat.titulo)) {%> checked<% } %> >
                    </div>
                <%}); %> 
            </div>
            <div>
                <h3>Tipo de mascota</h3>
                
                <% typeOfPets.forEach(cat => {%>
                    
                    <div>
                        <label for="<%- cat.titulo %>"><%= cat.titulo %></label>
                        <input type="checkbox" name="<%= cat.categoria %>" id="<%= cat.titulo %>" value="<%= cat.titulo %>" <% if(pro.tipo_mascota.includes(cat.titulo)) {%> checked<% } %> >
                    </div>
                <%}); %> 
            </div> 
        </article>
        
        <div class="button">
            <button type="submit">Eliminar producto</button>
        </div>
        </section>
    </main>

    <%- include("../partial/footer")%>
    
</body>
</html>