<!doctype html>
<html>
<head>
    <%- include('../partial/head')%>
</head>
<body>
    <%- include('../partial/header')%>
    <main class="register">
        <form action="/register" method="post">
            <section>
                <% for( let campo in box) { %>
                    <article>
                        <input type="<%= campo == 'password' || campo == "repeat_password" ? 'password' : 'text' %>" name="<%=campo%>" placeholder="<%= campo %>" <% if (locals.error && !error[campo]) { %> value="<%= box[campo]%>"<% } %>>
                        <% if (locals.error && error[campo]) { %>
                            <div class="error">
                                <p><%= error[campo].msg %></p>
                            </div>
                            <% } %> 
                    </article>
                <% } %>
                <article>
                    <button type="submit">crear cuenta</button>
                </article>
            </section>
            

        </form>

    </main>
    <%- include('../partial/footer')%>
</body>
</html>